/* @import "./base.css"; */

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
} */

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  } */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
 
/* body{
  background-color: rgb(219, 222, 223)
}  */


.t-btn {
  @apply font-bold py-1 px-4 rounded;
}
.t-btn-blue {
  @apply bg-blue-600 text-white;
}
.t-btn-blue:hover {
  @apply bg-blue-800;
}


.applied-input{
  @apply block p-1.5 text-lg pl-4 bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

@tailwind base;
@tailwind components;
@tailwind utilities;

 @layer components {
    .button-blue{
        @apply border border-slate-700 px-4 py-2  bg-blue-600 rounded-md text-white outline-none hover:bg-blue-800 focus:ring-4 shadow-lg transform active:scale-95 transition-transform
      }
};
 @layer components{
    .myInput {
        @apply w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-4 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200  ease-in-out
      }
}; 
